@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "components/main";
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

#app {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
